.advantage {
	position: relative;
	background-color: #ffffff;
	margin-top: 0;
	margin-bottom: 0;
}
.advantages-list {
	color: #000000;
	list-style: none;
	text-align: left;
	padding-left: 68px;
	padding-right: 37px;
	margin: 0;
	background-color: #ffffff;
}
.advantage__title {
	font-size: 18px;
	line-height: 26px;
}
.advantage__text {
	font-size: 14px;
	line-height: 21px;
	padding-top: 17px;
	padding-bottom: 31px;
}
.advantage__sedona {
	height: 380px;
	padding-top: 20px;
	padding-bottom: 0;
	margin: 0;
}
