.reason--first {
	min-height: 211px;
	padding-top: 57px;
}
.reason-first::before {
	content: " ";
	position: absolute;
	top: 0;
	display: block;
	width: 100%;
	height: 37px;
	background-image: url(../img/bg-triangle.svg);
	background-repeat: no-repeat;
	background-position: center;
	top: -15px;
	left: 0;
}
.reason__description {
	margin-top: 15px;
	color: #ffffff;
	margin-bottom: 0;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 15px;
	height: 217px;
	background-color: #81b3d2;
}
.reason__description--accent {
	padding-top: 5px;
	padding-bottom: 10px;
}
.reason__title {
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	padding-top: 44px;
	padding-bottom: 0;
}
.reason__number {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	padding: 0;
	margin: 0;
}
.reason__text {
	font-size: 14px;
	line-height: 21px;
	padding-bottom: 42px;
}
.reason__wrapper {
	height: 190px;
	text-align: center;
	padding-left: 0;
	margin: 0;
}
.reason__image-wrapper {
	height: 260px;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #81b3d2;
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}
.reason__img {
	display: block;
	width: 320px;
	height: 260px;
}
.reason-first__list {
	margin: 0;
	padding: 0;
}
.reason__image-two {
	display: flex;
	width: 320px;
	height: 260px;
	background-image: url(../img/main-bridge-mobile@1x.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
.reason-two {
	margin: 0;
	padding-top: 0;
	background-color: #81b3d2;
}
.reason {
	position: relative;
	margin: 0;
	padding: 0;
}
.reason-last::after {
	content: "";
	width: 280px;
	height: 1px;
	background: #d6d6d6;
	left: 0;
	position: absolute;
	top: 159px;
	left: 20px;
	z-index: 2;
}
.reason__description-last {
	margin: 0;
	padding-top: 0;
	padding-bottom: 15px;
	background-color: #eeeeee;
}
.reason__title-last {
	color: #000000;
}
.reason__number-last {
	color: #000000;
}
.reason__text-last {
	color: #333333;
	width: 250px;
	text-align: center;
	padding-left: 35px;
	font-size: 14px;
	line-height: 21px;
}
.reasons {
	display: flex;
	flex-direction: column;
	font-family: $page-font;
	text-transform: uppercase;
	height: 505px;
	padding: 0;
	margin: 0;
}
.reasons__list-grey {
	@include list-reset();
	text-align: center;
	padding-top: 10px;
	padding-bottom: 0;
	margin: 0;
	background-color: $reasons-background;
}
.reasons__item-grey {
	position: relative;
	min-height: 168px;
}
.reasons__title-grey {
	margin: 0;
	padding: 20px 0 5px 0;
	font-size: 18px;
	line-height: 26px;
	font-weight: bold;
	color: $main-text-color;
}
.reasons__number-grey, .reason__text {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	color: $reasons-text;
}
.reason__text {
	width: 275px;
	margin: 0 auto;
	padding: 13px 0 0 0;
	color: #333333;
}
.reason__text--bridge, .reason__text--city {
	color: #ffffff;
}
.reasons__hr::after {
	position: absolute;
	content: "";
	width: 280px;
	height: 1px;
	top: 166px;
	left: 20px;
	background-color: #d6d6d6;
}
@media (min-width: $tablet-width) {
	.reason__description {
		min-width: 256px;
		height: 256px;
		padding-top: 0;
		padding-left: 25px;
		padding-right: 25px;
		margin-top: 3px;
	}
	.reasons {
		height: 256px;
	}
	.reason-first__list {
		margin-top: -20px;
	}
	.reason-two {
		width: 768px;
		height: 256px;
		padding: 0;
		margin: 0;
		flex-direction: row-reverse;
	}
	.advantage__sedona {
		height: 330px;
		padding-bottom: 0;
		margin-top: -20px;
		margin-bottom: 20px;
	}
	.reason-first__list {
		margin-top: 20px;
	}
	.reason__wrapper {
		width: 256px;
		padding-top: 48px;
		padding-left: 0;
		text-align: center;
	}
	.reason__img {
		width: 512px;
		height: 256px;
	}
	.reason__image-wrapper {
		width: 512px;
		height: 256px;
		padding: 0;
	}
	.reason-image-first {
		margin-top: 3px;
	}
	.reason__text--city {
		width: 167px;
	}
	.reason__text {
		width: 158px;
		margin: 7px auto 0;
		padding-bottom: 0;
		color: #333333;
	}
	.reason__text--bridge {
		color: #ffffff;
	}
	.reason__text-last {
		color: #333333;
		width: 215px;
		text-align: center;
		padding-left: 45px;
		padding-top: 7px;
		font-size: 14px;
		line-height: 21px;
	}
	.reason-last::after {
		display: none;
	}
	.reason__title {
		display: block;
		width: 151px;
		padding-top: 0;
		margin: -2px auto;
		margin-bottom: 10px;
		font-size: 21px;
		line-height: 26px;
	}
	.title-first {
		padding-top: 47px;
	}
	.reason-first::before {
		display: none;
	}
	.reasons__list-grey {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		min-height: 236px;
	}
	.reasons__item-grey {
		width: 256px;
		min-height: 245px;
		padding-top: 0;
	}
	.reasons__title-grey {
		width: 140px;
		padding-top: 35px;
		margin: 0 auto;
		font-size: 21px;
	}
	.reason__text--city {
		padding-top: 20px;
		margin: 0;
		color: #ffffff;
		margin-left: 20px;
	}
	.reasons__hr::after {
		display: none;
	}
}
@media (min-width: $desktop-width) {
	.reason__wrapper {
		width: 400px;
		height: 256px;
		padding-top: 50px;
	}
	.reason__img {
		width: 100%;
		height: 400px;
	}
	.reason__description {
		width: 400px;
		height: 256px;
		padding-top: 47px;
		padding-left: 25px;
		padding-right: 25px;
	}
	.reason__image-wrapper {
    width: 800px;
    height: 256px;
    overflow-y: hidden;
  }
	.reason__title {
		padding-top: 6px;
		margin-bottom: 10px;
	}
	.reason__text {
		width: 290px;
	}
	.reason__img {
		transform: translateY(-70px);
	}
	.reason__img--2 {
		transform: translateY(-75px);
	}
	.reasons__item-grey {
		width: 400px;
	}
	.reason__text {
		width: 300px;
		padding-left: 27px;
		padding-top: 23px;
		margin: 0;
	}
	.page-list__item {
		height: 256px;
	}
	.advantage__sedona {
		height: 228px;
	}
	.reason-two {
		margin-top: 80px;
	}
	.reason__text--bridge {
		padding-top: 20px;
		padding-left: 83px;
		width: 315px;
	}
	.reasons__title-grey {
		padding-bottom: 7px;
	}
	.reason__text-last {
		width: 292px;
		padding-left: 53px;
		padding-top: 7px;
	}
	.reasons__text-grey {
		width: 270px;
		padding-left: 63px;
		padding-top: 20px;
	}
}
